<div *ngIf="load; then ifBlock else elseBlock"></div>

<ng-template #ifBlock> 
    <div>
        <div style="text-align: center;margin:100px auto">
            <div class="spinner-border text-primary" style="width: 3rem;height:3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div *ngIf="update; then updateBlock else addBlock"></div>
</ng-template>

<ng-template #updateBlock>
    <app-updatejobseeker-details [jobseekerData]="jobseekerDetail"></app-updatejobseeker-details>
</ng-template>

<ng-template #addBlock>
    <div class="jobseeker-div">
        <form #jobSeekerForm="ngForm" class="jobseeker-input-div" (ngSubmit)="jobSeeker(jobSeekerForm.value)">
            <div class="jobseeker-text">
                JobSeeker Details
            </div>
    
            <div class="input-div">
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">JobSeeker ID</label>
                    <input #jobseeker_id="ngModel"
                        type="text" 
                        class="input-style" 
                        placeholder="Get your Id from account page"
                        [(ngModel)]="userData.id"
                        name="id"
                        readonly
                        required/>
                    <span *ngIf="jobseeker_id.invalid && jobseeker_id.touched" style="color:red">JobSeeker Id is required</span>
                </div>

                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">First Name</label>
                    <input #firstName="ngModel" 
                        type="text" 
                        class="input-style" 
                        placeholder='Get your First Name from account page'
                        [(ngModel)]="userData.firstName"
                        name="first_name"
                        readonly
                        required/>
                    <span *ngIf="firstName.invalid && firstName.touched" style="color:red">FirstName is required</span>
                </div>
            </div>
            
            <div class="input-div">
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Last Name</label>
                    <input #lastName="ngModel"
                        type="text" 
                        class="input-style" 
                        placeholder='Get your last Name from account page'
                        [(ngModel)]="userData.lastName"
                        name="last_name"
                        readonly
                        required/>
                     <span *ngIf="lastName.invalid && lastName.touched" style="color:red">LastName is required</span>
                </div>

                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Email</label>
                    <input #email="ngModel"
                        type="email" 
                        placeholder="Enter Email" 
                        class="input-style"
                        [(ngModel)]="userData.email"
                        name="email"
                        readonly
                        required/>
                    <span *ngIf="email.invalid && email.touched" style="color:red">Email is required</span>
                </div>
            </div>
            
            <div class="input-div">
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Phone</label>
                    <input #number="ngModel"
                        type="tel" 
                        class="input-style" 
                        placeholder="Enter your number"
                        name="phone"
                        ngModel
                        required/>
                    <span *ngIf="number.invalid && number.touched" style="color:red">Phone Number is required</span>    
                </div>

                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Expected Salary</label>
                    <select #salary="ngModel"
                        class="input-style" 
                        name="expected_salary"
                        ngModel
                        required>
                        <option value="">Select Salary</option>
                        <option value="30000">30,000</option>
                        <option value="45000">45,000</option>
                        <option value="60000">60,000</option>
                    </select>
                    <span *ngIf="salary.invalid && salary.touched" style="color:red">This field is required</span>
                </div>
            </div>
        
            <div class="input-div">
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Date of birth</label>
                    <input #dob="ngModel" 
                        type="date" 
                        class="input-style"
                        name="dob"
                        ngModel
                        required/>
                    <span *ngIf="dob.invalid && dob.touched" style="color:red">Date of birth is required</span>
                </div>
                
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Total Experience</label>
                    <select #experience="ngModel"  
                        class="input-style"
                        name="total_expericence"
                        ngModel
                        required>
                        <option value="">Select Experience</option>
                        <option value="fresher">Fresher</option>
                        <option value="1 year">1 Year</option>
                        <option value="2 years">2 Years</option>
                        <option value="3 years">3 Years</option>
                    </select>
                    <span *ngIf="experience.invalid && experience.touched" style="color:red">Experience is required</span>
                </div>
            </div>
        
            <div class="input-div">
                <div class="input-text-area">
                    <label style="font-size: 15px;font-weight: 600;">Address</label>
                    <textarea cols="50" rows="5" 
                        #address="ngModel"
                        placeholder="Enter Some Description about your company..."
                        class="input-style"
                        name="address"
                        ngModel
                        required
                    ></textarea>
                    <span *ngIf="address.invalid && address.touched" style="color:red">This field is required</span>
                </div>
            </div>
    
            <div class="btn-div">
                <button type="submit" class="btn btn-primary mr-2" [disabled]="jobSeekerForm.invalid">
                    Save 
                </button>
    
                <button type="reset" class="btn btn-primary">
                    Clear
                </button>
            </div>
        </form>
    </div>
</ng-template>
