<div *ngIf="load; then ifBlock else elseBlock"></div>

<ng-template #ifBlock>
    <div style="text-align: center;margin:100px auto">
        <div class="spinner-border text-primary" style="width: 3rem;height:3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div class="account-div">
        <form class="account-form-div">
            <div class="account-text">
                My Account
            </div>
    
            <div class="input-div">
                <label>User Name</label>
                <input type="email" 
                    placeholder="Enter Username" 
                    name="UserName"
                    class="account-input" 
                    value={{userData?.userName}}
                    disabled
                    required/>
            </div>
    
            <div class="input-div">
                <label>First Name</label>
                <input type="text" id="disableFN"
                    placeholder="Enter First Name" 
                    name="firstName"
                    class="account-input"
                    [(ngModel)]="firstName"
                    disabled
                    required/>
            </div>
    
            <div class="input-div">
                <label>Last Name</label>
                <input type="text" id="disableLN"
                    placeholder="Enter Last Name"
                    name="lastName" 
                    class="account-input"
                    [(ngModel)]="lastName"
                    disabled
                    required/> 
            </div>
    
            <div class="input-div">
                <label>Email</label>
                <input type="email" 
                    placeholder="Enter Email"
                    name="email" 
                    class="account-input"
                    value={{userData?.email}}
                    disabled
                    required/>
            </div>
    
            <div>
                <button *ngIf="disable" class="btn btn-primary mr-3" (click)="enable()">Update</button>
                <button *ngIf="disable === false" class="btn btn-primary mr-3" (click)="update(userData)">Save</button>
                <button class="btn btn-primary change-password" [routerLink]="['/changepassword',userData?.id]">Change Password</button>
            </div>
        </form>

        <div *ngIf="role === 'JobSeeker'" class="cv-upload-div">
            <form  #cvform="ngForm" class="cv-upload-form" (submit)="cvformData()">
                <div class="cv-text">
                    Upload CV
                </div>

                <div class="upload-input">
                    <label>Select a file *</label>
                    <input #cv="ngModel"
                        type="file"
                        class="input-type"
                        name="files"
                        [(ngModel)]="currentInput"
                        (change)="onFileSelected($event)"
                        accept=".pdf"
                        required/>
                    <span *ngIf="cv.invalid && cv.touched" style="color: red;">Upload a PDF document</span>    
                </div>
                
                <div>
                    <button type="submit" class="btn btn-primary" [disabled]="cvform.invalid">
                        Upload
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf="role === 'JobSeeker'" class="uploaded-cv">
            
            <div class="uploaded-cv-div">
                <div style="font-size: 24px;font-weight: 600;text-align: center;margin-bottom: 20px;">Uploaded CV</div>

                <div *ngIf="filedata.length > 0; then fileblock else nofileblock"></div>

                <ng-template #fileblock>
                    <div *ngIf="filedata.length > 0" class="doc-info">
                        <div>
                            <span style="font-weight: 600;font-size: 18px;">{{filedata[0]?.name}}</span><br/>
                            <span style="font-weight: 600;font-size: 15px;color: gray;">{{(filedata[0]?.file_size / 1000000).toFixed(2)}}MB</span>
                        </div>
        
                        <div>
                            <button class="btn btn-success mr-1" (click)="view(filedata[0]?.name,filedata[0]?.fileType)">View</button>
                            <!-- Trigger delete modal -->
                            <button class="btn btn-danger ml-1" (click)="open(deletecontent)">Delete</button>

                            <!-- Delete Modal -->
                            
                            <ng-template #deletecontent let-modal>
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-basic-title">Delete CV</h4>
                                  <button type="button" class="btn-close symbol" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
                                </div>
                                <div class="modal-body">
                                  <span style="font-weight: 600;">Are you sure you want to delete this vacancy?</span>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" (click)="deletefile(filedata)">Delete</button>
                                </div>
                              </ng-template>
                        </div>
                    </div>
                </ng-template>

                <ng-template #nofileblock>
                    <div style="font-weight: 600;font-size: 18px;">
                        No CV uploaded
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</ng-template>

