.qualification-div{
    width: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;

    .qualification-input-div{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;

        .qualification-text{
            text-align: center;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 600;
        }

        .input-div{
            display: flex;
            
            .element-div-email{
                display: flex;
                flex-direction: column;
                padding: 10px;
                width: 100%;
            }

            .element-div{
                display: flex;
                flex-direction: column;
                padding: 10px;
                width: 50%;
            }

            .input-style-readonly{
                width: 100%;
                border-radius: 5px;
                border: 1px solid gray;
                padding: 5px 10px;
                background-color: #007bff2b;
                outline: none;
            }

            .input-style{
                width: 100%;
                border-radius: 5px;
                border: 1px solid gray;
                padding: 5px 10px;
            }
    
            .input-style:focus{
                outline: none;
            }
            
            .input-text-area{
                display: flex;
                flex-direction: column;
                padding: 10px;
                width: 100%;
    
                .input-style{
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid gray;
                    padding: 5px 10px;
                }
        
                .input-style:focus{
                    outline: none;
                }
            }
        }

        .btn-div{
            padding: 5px 10px;
        }
    }
    
    
}