<div *ngIf="load; then loadBlock else elseBlock"></div>

<ng-template #loadBlock>
    <div>
        <div style="text-align: center;margin:100px auto">
            <div class="spinner-border text-primary" style="width: 3rem;height:3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div *ngIf="cvData.length > 0 then datablock else nodatablock"></div>
</ng-template>

<ng-template #nodatablock>
    <div style="margin: 30px;text-align: center;">
        <h2>You have uploaded any documents.</h2>
    </div>
</ng-template>

<ng-template #datablock>
    <div class="uploaded-cv">
        <div style="width: 70%;margin-bottom: 20px;margin-top: 10px;">
            <input type="search" 
            placeholder="Search by filename"
            class="search-bar"
            [(ngModel)]="filename"
            (search)="clearSearch()"
            (keyup)="searchFilename($event)"/>
        </div>

        <div *ngFor="let data of copyData | paginate: { id: 'upload',
                                                        itemsPerPage: 10,
                                                        currentPage: page,
                                                        totalItems: totalRecords }" 
            class="upload-cv-data">
            <div class="doc-text">
                <span style="color: black;">{{data.name}}</span><br/>
                <span>{{(data.file_size/1000000).toFixed(2)}}MB</span>
            </div>
    
            <div>
                <button class="btn btn-success mr-2" (click)="download(data.name, data.fileType)">View</button>
                <button class="btn btn-danger ml-2" (click)="deletecv(data.id, data.name)">Delete</button>
            </div>
        </div>

        <div>
            <pagination-controls  id="upload"
                      (pageChange)="page = ($event)"
                      (pageBoundsCorrection)="page = ($event)"
                      maxSize="9"
                      directionLinks="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
            >
            </pagination-controls>
        </div>
    </div>
</ng-template>
