<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <a class="navbar-brand" routerLink="/" style="text-transform: uppercase;">Job-Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="userData?.UserId !== null && userData?.Role === 'Employee'" class="nav-item">
          <a class="nav-link" [routerLink]="['/employeedetails',userData?.UserId]">Employeer Details</a>
        </li>
        <li *ngIf="userData?.UserId !== null && userData?.Role === 'Employee'" class="nav-item">
          <a class="nav-link" [routerLink]="['/postvacancies',userData?.UserId]">Post Vacancy</a>
        </li>
        <li *ngIf="userData?.UserId !== null && userData?.Role === 'Employee'" class="nav-item">
          <a class="nav-link" [routerLink]="['/vacancies',userData?.UserId]">Vacancies</a>
        </li>
        <li *ngIf="userData?.UserId !== null && userData?.Role === 'JobSeeker'" class="nav-item">
          <a class="nav-link" [routerLink]="[userData?.UserId, 'details']">JobSeeker Details</a>
        </li>
        <li *ngIf="userData?.UserId !== null && userData?.Role === 'JobSeeker'" class="nav-item">
          <a class="nav-link" [routerLink]="[userData?.UserId, 'experience']">Experience Details</a>
        </li>
        <li *ngIf="userData?.UserId !== null && userData?.Role === 'JobSeeker'" class="nav-item">
          <a class="nav-link" [routerLink]="[userData?.UserId, 'qualification']">Qualification Details</a>
        </li>
        <li *ngIf="userData?.UserId !== null && userData?.Role === 'JobSeeker'" class="nav-item">
          <a class="nav-link" [routerLink]="['allvacancies',userData?.UserId]">Apply for Vacancies</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a *ngIf="userData?.UserId === null"  routerLink="/login">
            <button class="btn btn-outline-secondary m-2 my-sm-0">
                Login
            </button>
        </a>
        
        <a *ngIf="userData?.UserId === null" routerLink="/register">
            <button class="btn btn-outline-secondary m-2 my-sm-0">
                Register
            </button>
        </a>

        <div *ngIf="userData?.UserId !== null" class="dropdown" style="margin-right: 20px;">
          <button class="dropdown-toggle account-btn" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            <span style="font-weight: bold;color: gray;">
                Hello, 
            </span><br/>
            <span style="font-weight: bold;">
                {{userData?.Username}}
            </span>
          </button>
          <div class="dropdown-menu dropdown-pos" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['account',userData?.UserId]">Account</a>
            <a *ngIf="userData?.Role === 'JobSeeker';" class="dropdown-item" [routerLink]="['appliedvacancies',userData?.UserId]">Applied Vacancies</a>
            <a *ngIf="userData?.Role === 'Employee';" class="dropdown-item" [routerLink]="['vacanciesRequests',userData?.UserId]">Vacancies Requests</a>
            <a class="dropdown-item" (click)="signOut()" style="cursor: pointer;">Log Out</a>
          </div>
        </div>
        
      </form>
    </div>
  </nav>