.account-btn{
    border:none;
    text-align: left;
    cursor: pointer;
    background: none;
    outline: none;
    font-size: 14px;
}

.dropdown-pos{
    margin-left: -65px;
}

@media screen and (max-width: 991px) {
    .dropdown-pos{
        margin-left: 0px;
    }
}