<div *ngIf="load; then ifBlock else elseBlock"></div>

<ng-template #ifBlock>
    <div>
        <div style="text-align: center;margin:100px auto">
            <div class="spinner-border text-primary" style="width: 3rem;height:3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>  
    </div>
</ng-template>

<ng-template #elseBlock>
    <div class="qualification-div">
        <form #updatequalificationForm="ngForm" class="qualification-input-div" (ngSubmit)="updatequalifications(updatequalificationForm.value, quaData[0].id)">
            <div class="qualification-text">
                Qualification Details
            </div>
    
            <div class="input-div">
                <div class="element-div-university">
                    <label style="font-size: 15px;font-weight: 600;">University</label>
                    <input #university="ngModel"
                        type="text" 
                        placeholder="Enter University" 
                        class="input-style"
                        [(ngModel)]="quaData[0].university"
                        minlength="3"
                        maxlength="60"
                        pattern="[A-Za-z ]{3,60}"
                        name="university"
                        required/>
                    <span *ngIf="university.invalid && university.touched" style="color:red">University must contain 3 or more and less than 60 characters</span>
                </div>
            </div>
            
            <div class="input-div">
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Email</label>
                    <input #userName="ngModel" 
                        type="text" 
                        class="input-style-readonly" 
                        placeholder='Enter Email'
                        [(ngModel)]='quaData[0].name'
                        name="name"
                        readonly
                        required/>
                    <span *ngIf="userName.invalid && userName.touched" style="color:red">This field is required</span>
                </div>   

                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Qualification</label>
                    <select #qualification="ngModel"
                        type="text" 
                        class="input-style" 
                        [(ngModel)]="quaData[0].qualification"
                        name="qualification"
                        required>
                            <option value="">Select Qualification</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="M.Tech">M.Tech</option>                    
                            <option value="M.B.A">M.B.A</option>
                    </select>
                     <span *ngIf="qualification.invalid && qualification.touched" style="color:red">This field is required</span>
                </div>
            </div>
            
            <div class="input-div">                
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Year Of Completion</label>
                    <input #year="ngModel"
                        type="month" 
                        class="input-style" 
                        placeholder="Enter your Completion Year"
                        name="yearOfCompletion"
                        [(ngModel)]="quaData[0].yearOfCompletion"
                        required/>
                    <span *ngIf="year.invalid && year.touched" style="color:red">This field is required</span>    
                </div>
    
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Grade</label>
                    <select #grade="ngModel"
                        class="input-style" 
                        name="grade"
                        [(ngModel)]="quaData[0].grade"
                        required>
                        <option value="">Select Grade</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                    </select>
                    <span *ngIf="grade.invalid && grade.touched" style="color:red">This field is required</span>
                </div>
            </div>
    
            <div class="btn-div">
                <button type="submit" class="btn btn-primary mr-2" [disabled]="updatequalificationForm.invalid">
                    Update 
                </button>
            </div>
        </form>
    </div>
</ng-template>

