.reqRec-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    .search-div{
        width: 70%;
        margin-top: 20px;
        margin-bottom: 10px;

        .date-search-req{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px;
            
            .date-div-req{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                
                .input-type-date{   
                    width: 50%;
                    padding-left: 10px;
                    border: 1px solid gray;
                    border-radius: 5px;
                }
            }

            .clear-btn{
                background-color: #6c757d;
                border: 1px solid #6c757d;
                border-radius: 5px;
                padding: 3px 10px;
                margin-top: 10px;
                color: white;
                cursor: pointer;
                outline: none;
            }

            .clear-btn:hover{
                background-color: #575e64;
                border: 1px solid #575e64;
            }
        }
    }

    .reqRec-loop-div{
        width: 70%;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
    }

    .checkbox-date{
        width: 70%;
        margin-left: 10px;
    }
}

