<div *ngIf="load; then ifBlock else elseBlock" ></div>

<ng-template #ifBlock>
    <div style="text-align: center;margin:100px auto">
        <div class="spinner-border text-primary" style="width: 3rem;height:3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div *ngIf="vacancyData.length > 0; then reqrecblock else nodatablock"></div>
</ng-template>

<ng-template #reqrecblock>
    <div class="reqRec-div">
        <div class="search-div">
            <div class="date-search-req">
                <div style="display: flex;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius: 5px;margin-right: 20px;width: 35%;padding:10px">
                    <div class="date-div-req">
                        <label style="color: black;font-weight: 600;">Search by applied date</label>
                        <input type="date" class="input-type-date" value={{date}} (change)="dateSearch($event)"/>
                    </div>
        
                    <div>
                        <button class="clear-btn" (click)="clearDate()">Clear</button>
                    </div>
                </div>

                <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius: 5px;width: 65%;padding:10px">
                    <div style="margin-bottom: 5px;font-weight: 600;">
                        Search by filter
                    </div>
                    
                    <div style="display: flex;align-items: center;justify-content: space-between;"> 
                        <div>
                            <input type="radio" name="status" value="all" (change)="selectStatus($event)" checked/>
                            <label style="color: gray;font-weight:600">&nbsp;All</label>
                        </div>
                        
                        <div>
                            <input type="radio" name="status" value="approved" (change)="selectStatus($event)"/>
                            <label style="color: gray;font-weight:600">&nbsp;Approved</label>
                        </div>
                        
                        <div>
                            <input type="radio" name="status" value="rejected" (change)="selectStatus($event)"/>                       
                            <label style="color: gray;font-weight:600">&nbsp;Rejected</label>
                        </div>
    
                        <div>
                            <input type="radio" name="status" value="awaiting_approval" (change)="selectStatus($event)"/>
                            <label style="color: gray;font-weight:600">&nbsp;Awaiting Approval</label>
                        </div>
                    </div>

                    <!-- <div style="text-align: right;">
                        <button class="clear-btn">
                            Clear
                        </button>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="checkbox-date">
            <div style="width: 30%;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding-top: 10px;padding-left: 10px;border-radius: 5px;">
                <input type="checkbox" (change)="sortByDate()" [checked]="check"/>
                <label style="color: gray;font-weight: 600;">&nbsp;Sort by date
                    <span *ngIf="check">&nbsp;(Descending)</span>
                    <span *ngIf="check === false">&nbsp;(Ascending)</span>
                </label>
            </div>
        </div>

        <div *ngFor="let data of copyData | paginate: { id: 'reqRec',
                                                        itemsPerPage: 6,
                                                        currentPage: page,
                                                        totalItems: totalRecords }" 
            class="reqRec-loop-div">

            <div style="display: flex;justify-content: space-between;">
                <div>
                    <span>Applied By</span><br/>
                    <span style="font-size: 15px;color: gray;">{{data?.user_name}}</span>
                </div>
    
                <div>
                    <span>Applied On</span><br/>
                    <span style="font-size: 15px;color: gray;">{{data?.applied_on}}</span>
                </div>
    
                <div>
                    <button *ngIf="data?.awaiting_approval === true" class="btn btn-success mr-2" (click)="approve(data)">
                        Approve
                    </button>
    
                    <button *ngIf="data?.awaiting_approval === true" class="btn btn-danger ml-2" (click)="reject(data)">
                        Reject
                    </button>
    
                    <button *ngIf="data?.awaiting_approval === false && data?.approved === true" class="btn btn-success" disabled>
                        Approved
                    </button>
    
                    <button *ngIf="data?.awaiting_approval === false && data?.approved === false" class="btn btn-danger" disabled>
                        Rejected
                    </button>
                </div>
            </div>

            <div style="margin-top: 20px;">
                <span>Description</span><br/>
                <span style="color: gray;">{{data?.description}}</span>
            </div>
            
        </div>

        <div>
            <pagination-controls  id="reqRec"
                      (pageChange)="pageChange($event)"
                      (pageBoundsCorrection)="pageChange($event)"
                      maxSize="9"
                      directionLinks="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
            >
            </pagination-controls>
        </div>
    </div>
</ng-template>

<ng-template #nodatablock>
    <div style="text-align: center;margin-top: 20px;">
        <h2>You haven't got any requests yet.</h2>
    </div>
</ng-template>