.home-div{

    .home-top-div{
        height: 700px;
        background-image: url("/assets/images/undraw_organize_resume_re_k45b.svg");
        background-position: 70% 50%;
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #f5f5f5;
        padding: 30px;

        .home-heading{
            margin-left: 40px;
            color: #007BFF;
            margin-bottom: 30px;
        }

        .home-body{
            color: gray;
            font-weight: 600;
            margin-left: 40px;
        }

        .home-btns{
            margin-left: 40px;
            margin-top: 40px;
        }
    }
}