<div class="vacancy-div">
    <form #updateVacancyForm="ngForm" class="vacancy-form-div" (ngSubmit)="updateVacancy(updateVacancyForm.value,data.id)">
         <div class="vacancy-text">
            Update Vacancy
         </div>

         <div class="input-div">
            <div class="input-box">
                <label>Publisher Name</label>
                <input #publisherName="ngModel"
                    type="text" 
                    placeholder="Refresh page to get Publisher Name" 
                    class="input-type"
                    name="publishedBy"
                    minlength="3"
                    pattern="[A-Za-z0-9 ]{3,60}"
                    [(ngModel)]="data.publishedBy"
                    disabled
                    required/>
                <span class="error-message" *ngIf="publisherName.invalid && publisherName.touched">Publisher name must contain 3 or more and less than 60 characters</span>
            </div>

             <div class="input-box">
                <label>Published Date</label>
                <input #publishedDate="ngModel"
                    type="text"
                    class="input-type"
                    name="published_Date"
                    placeholder="Reload the page to get current date"
                    [(ngModel)]="data.published_Date"
                    disabled
                    required/>
                <span class="error-message" *ngIf="publishedDate.invalid && publishedDate.touched">Published date is required</span>
             </div>
         </div>

         <div class="input-div">
             <div class="input-box">
                 <label>Minimum Qualification</label>
                 <select #minqualification="ngModel"
                    class="input-type"
                    name="minimum_qualification"
                    [(ngModel)]="data.minimum_qualification"
                    required>
                     <option value="">
                        Select Qualification
                     </option>
                     <option value="B.Tech">
                        B.Tech
                    </option>
                    <option value="M.Tech">
                        M.Tech
                    </option>
                    <option value="M.B.A">
                        M.B.A
                    </option>
                 </select>
                 <span class="error-message" *ngIf="minqualification.invalid && minqualification.touched">Qualification is required</span>
             </div>

             <div class="input-box">
                 <label>Experience</label>
                 <select #experience="ngModel"
                    class="input-type"
                    name="experience"
                    [(ngModel)] ="data.experience"
                    required>
                     <option value="">
                        Select Experience
                     </option>

                     <option value="Freshers">
                        Hiring Freshers
                     </option>

                     <option value="1 Year">
                        1 Year
                     </option>
                     
                     <option value="2 Years">
                        2 Years
                     </option>
                 </select>
                 <span class="error-message" *ngIf="experience.invalid && experience.touched">Experience is required</span>
             </div>
         </div>

         <div class="input-div">
            <div class="input-box">
                <label>Number of vacancy</label>
                <input #numofvacancy="ngModel" 
                    type="number" 
                    placeholder="Enter number of vacancy" 
                    class="input-type"
                    min="2"
                    max="50"
                    name="no_of_Vacancies"
                    [(ngModel)] = "data.no_of_Vacancies"
                    required/>
                <span class="error-message" *ngIf="numofvacancy.invalid && numofvacancy.touched">Number of vacancies must be more than 1 and less than 50</span>
            </div>

            <div class="input-box">
                <label>Last Date</label>
                <input #lastDate="ngModel"
                    type="date" 
                    class="input-type"
                    name="last_Date"
                    [(ngModel)]="last_date[0]"
                    required/>
                <span class="error-message" *ngIf="lastDate.invalid && lastDate.touched">Last data is required</span>
            </div>
         </div>

         <div class="input-div">
             <div class="input-box">
                <label>Minimum Salary</label>
                <select #minSalary="ngModel"
                    class="input-type"
                    name="min_Salary"
                    [(ngModel)] = "data.min_Salary"
                    required>
                    <option value="">
                        Select Minimum Salary
                    </option>
   
                    <option value="30000">
                       30,000
                    </option>
   
                    <option value="45000">
                       45,000
                    </option>
   
                    <option value="60000">
                       60,000
                    </option>
                </select>
                <span class="error-message" *ngIf="minSalary.invalid && minSalary.touched">This field is required</span>
            </div>
             
             <div class="input-box">
                <label>Maximum Salary</label>
                <select #maxSalary="ngModel"
                    class="input-type"
                    name="max_Salary"
                    [(ngModel)] = "data.max_Salary"
                    required>
                    <option value="">
                        Select Maximum Salary
                    </option>
   
                    <option value="45000">
                       45,000
                    </option>
   
                    <option value="60000">
                       60,000
                    </option>
   
                    <option value="75000">
                       75,000
                    </option>
                </select>
                <span class="error-message" *ngIf="maxSalary.invalid && maxSalary.touched">This field is required</span> 
            </div>
         </div>

         <div class="input-text-div">
             <label>Job Description</label>
             <textarea cols="50" rows="5" 
                #jobdescription="ngModel"
                placeholder="Enter Job Description" 
                class="input-text-type"
                name="job_Description"
                minlength="5"
                maxlength="500"
                [(ngModel)] = "data.job_Description"
                required></textarea>
             <span class="error-message" *ngIf="jobdescription.invalid && jobdescription.touched">Job description must contain more than 5 and less than 500 character</span>
         </div>

         <div class="vacancy-post">
             <button class="btn btn-primary mr-3" [disabled]="updateVacancyForm.invalid">Update</button>
         </div>
    </form>
</div>