<div>
    <div *ngIf="load; then ifBlock else elseBlock"></div>
</div>

<ng-template #ifBlock>
    <div style="text-align: center;margin:100px auto">
        <div class="spinner-border text-primary" style="width: 3rem;height:3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div *ngIf="vacancies.length > 0; then vacancyBlock else nodataBlock"></div>
</ng-template>

<ng-template #vacancyBlock>
    <div class="vacancies-div">
        <div style="width: 70%;display: flex;align-items: center;margin-top: 20px;">
            <div class="search-filter">
                <input type="search" 
                    placeholder="Search by publisher name" 
                    class="search-input" 
                    (search)="clearSearch()"
                    #event
                    (keyup)="searchChange(event.value)"/>
            </div>
    
            <div class="date-filter">
                <div class="date-search">
                    <div style="display:flex;flex-direction:column;margin-right: 30px;">
                        <label style="color: black;font-weight: 600;">Search by Published date</label>
                        <input type="date" 
                            value={{date}}
                            (change)="searchBydate($event)" 
                            class="input-type"/>
                    </div>
                
                    <div style="display: flex;align-items: center;">
                        <button class="clear-btn" (click)="cleardate()">Clear</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngFor="let data of copyData" style="width: 70%;">
            <app-vacancy [data]="data"></app-vacancy>
        </div>
    </div>
</ng-template>

<ng-template #nodataBlock>
    <div style="text-align: center;margin: 100px auto;">
        <h2>You haven't posted any vacancy.</h2>
    </div>
</ng-template>

