<div *ngIf="load; then ifBlock else elseBlock"></div>

<ng-template #ifBlock>
    <div style="text-align: center;margin:100px auto">
        <div class="spinner-border text-primary" style="width: 3rem;height:3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div *ngIf="vacancyReq.length>0; then datablock else noDataBlock"></div>
</ng-template>

<ng-template #datablock>
    <div class="applied-vacancies-div">
        <div class="radio-search">
            <div style="display: flex;flex-direction: column">
                <label style="font-weight: 600;font-size: 18px;">Search by status</label>
                
                <div style="display:flex;">
                    <div style="margin: 0px 10px;">
                        <input type="radio" value="all" name="status" (change)="status($event)" style="cursor: pointer;" checked/>
                        <label style="font-weight: 600;color: gray;font-size: 15px;">&nbsp;All</label>
                    </div>

                    <div style="margin: 0px 10px;">
                        <input type="radio" value="approved" name="status" (change)="status($event)" style="cursor: pointer;"/>
                        <label style="font-weight: 600;color: gray;font-size: 15px;">&nbsp;Approved</label>
                    </div>
        
                    <div style="margin: 0px 10px;">
                        <input type="radio" value="rejected" name="status" (change)="status($event)" style="cursor: pointer;"/>
                        <label style="font-weight: 600;color: gray;font-size: 15px;">&nbsp;Rejected</label>
                    </div>
        
                    <div style="margin: 0px 10px;">
                        <input type="radio" value="awaiting_approval" name="status" (change)="status($event)" style="cursor: pointer;"/>
                        <label style="font-weight: 600;color: gray;font-size: 15px;">&nbsp;Awaiting Approval</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-by-date">
            <div style="width: fit-content;padding: 10px 10px 0px 10px;border-radius: 5px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
               
                    <input type="checkbox" (change)="sortByDate()" [checked]="checkDate" style="margin-right: 5px;"/>
                    <label style="color: gray;font-weight: 600;">Sort By Applied Date&nbsp;
                        <span *ngIf="checkDate;">(Descending)</span>
                        <span *ngIf="checkDate === false;">(Ascending)</span>
                    </label>

            </div>
        </div>

        <div *ngFor="let data of copyData | paginate: { id: 'applied-vacancies',
                                                        itemsPerPage: 5,
                                                        currentPage: page,
                                                        totalItems: totalRecords }" 
        class="applied-vacancies-list">
            <div *ngIf="data.published_by === null; then removeBlock else dataBlock"></div>
            <ng-template #removeBlock>
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <span style="font-size: 15px;font-weight: 600;color: gray;">Sorry, this vacancy has been removed by publisher.</span>
                    <span style="font-weight: bold;cursor: pointer;" (click)="deleteReq(data.id)">X</span>
                </div>
            </ng-template>
            
            <ng-template #dataBlock>
                <div class="vacancy-data-1">
                    <p>
                        <span style="font-size: 18px;font-weight: 600;">Published By</span><br/>
                        <span style="font-size: 15px;font-weight: 600;color: gray;">{{data.publishedBy}}</span>
                    </p>
                    <p>
                        <span style="font-size: 18px;font-weight: 600;">Applied On</span><br/>
                        <span style="font-size: 15px;font-weight: 600;color: gray;">{{data.applied_on}}</span>
                    </p>
                </div>
        
                <div class="vacancy-data-2">
                    <div class="vacancy-data-2-1">
                        <div style="font-size: 18px;font-weight: 600;">
                            Description
                        </div>
                        
                        <div>
                            <button *ngIf="data.awaiting_approval" class="btn btn-secondary" disabled>Awaiting Approval</button>
                            <button *ngIf="data.awaiting_approval === false && data.approved === true" class="btn btn-success" disabled>Approved</button>
                            <button *ngIf="data.awaiting_approval === false && data.approved === false" class="btn btn-danger" disabled>Rejected</button>
                        </div>
                    </div>
    
                    <div>
                        <p  style="font-size: 15px;font-weight: 600;color: gray;line-height: 0;">{{data.description}}</p>
                    </div>
                </div>
            </ng-template>
            
        </div>

        <div>
            <pagination-controls id="applied-vacancies"
                (pageChange)="page = ($event)"
                (pageBoundsCorrection)="page = ($event)"
                maxSize="9"
                directionLinks="true"
                responsive="true"
                previousLabel="Previous"
                nextLabel="Next"
            >
            </pagination-controls>
        </div>
        
    </div>
</ng-template>

<ng-template #noDataBlock>
    <div style="text-align: center;margin: 100px auto;">
        <h2>You haven't applied for any vacancy.</h2>
    </div>
</ng-template>