<div *ngIf="load; then ifBlock else elseBlock"></div>

<ng-template #ifBlock>
    <div>
        <div style="text-align: center;margin:100px auto">
            <div class="spinner-border text-primary" style="width: 3rem;height:3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div class="experience-div">
        <form #updateexperienceForm="ngForm" class="experience-input-div" (ngSubmit)="updateexperience(updateexperienceForm.value,expData[0].id)">
            <div class="experience-text">
                Experience Details
            </div>
    
            <div class="input-div">
                <div class="element-div-company">
                    <label style="font-size: 15px;font-weight: 600;">Company Name</label>
                    <input #companyName="ngModel" 
                        type="text" 
                        class="input-style" 
                        placeholder='Enter Company Name'
                        name="company_name"
                        minlength="2"
                        maxlength="50"
                        pattern="[A-Za-z ]{2,50}"
                        [(ngModel)]="expData[0].company_name"
                        required/>
                    <span *ngIf="companyName.invalid && companyName.touched" style="color:red">Company name cannot contain number and cannot be empty</span>
                </div>   
            </div>
            
            <div class="input-div">
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Start Date</label>
                    <input #startYear="ngModel"
                        type="date" 
                        class="input-style" 
                        ngModel
                        name="start_year"
                        placeholder="Enter Start Year"
                        [(ngModel)]="expData[0].start_year"
                        required/>
                     <span *ngIf="startYear.invalid && startYear.touched" style="color:red">This field is required</span>
                </div>
    
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">End Date</label>
                    <input #endYear="ngModel"
                        type="date" 
                        placeholder="Enter End Year" 
                        class="input-style"
                        ngModel
                        name="end_year"
                        [(ngModel)]="expData[0].end_year"
                        required/>
                    <span *ngIf="endYear.invalid && endYear.touched" style="color:red">This field is required</span>
                </div>
            </div>
            
            <div class="input-div">                
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Company URL</label>
                    <input #url="ngModel"
                        type="url" 
                        class="input-style" 
                        placeholder="Enter your Company URL"
                        name="companyUrl"
                        pattern="https?://.+"
                        [(ngModel)]="expData[0].companyUrl"
                        required/>
                    <span *ngIf="url.invalid && url.touched" style="color:red">Invalid URL</span>    
                </div>
    
                <div class="element-div">
                    <label style="font-size: 15px;font-weight: 600;">Desigination</label>
                    <input #designation="ngModel"
                        class="input-style" 
                        name="designation"
                        placeholder="Enter Designation"
                        minlength="5"
                        [(ngModel)]="expData[0].designation"
                        required/>
                    <span *ngIf="designation.invalid && designation.touched" style="color:red">Five or more characters are must</span>
                </div>
            </div>
        
            <div class="input-div">
                <div class="input-text-area">
                    <label style="font-size: 15px;font-weight: 600;">Job Description</label>
                    <textarea cols="50" rows="5" 
                        #jobDescription="ngModel"
                        placeholder="Enter Some Description about your company..."
                        class="input-style"
                        name="jobDescription"
                        [(ngModel)]="expData[0].jobDescription"
                        minlength="10"
                        maxlength="500"
                        required
                    ></textarea>
                    <span *ngIf="jobDescription.invalid && jobDescription.touched" style="color:red">Must contain 10 or more character</span>
                </div>
            </div>
    
            <div class="btn-div">
                <button type="submit" class="btn btn-primary mr-2" [disabled]="updateexperienceForm.invalid">
                    update
                </button>
            </div>
        </form>
    </div>
</ng-template>

