<div class="employee-div"> 
    
    <form #EmployeeForm="ngForm" class="employee-form" (ngSubmit)="updateEmployee(EmployeeForm.value)">
        <div class="details-text">
            Update Details
        </div>

        <div style="display: flex;">
            <div class="input-box-organization">
                <label>Organization Name</label>
                <input type="text" 
                    #organization="ngModel"
                    placeholder="Enter Organization" 
                    name="organization"
                    class="input-type"
                    [(ngModel)]="data[0].organization"
                    pattern="[A-Za-z ]{2,60}"
                    ngModel
                    required/>
                <span class="error-msg" *ngIf="organization.invalid && organization.touched">Organization Name must contain 2 or more and less than 60 characters</span>
            </div>
        </div>

        <div style="display: flex;">
            <div class="input-box">
                <label>Select Organization Type</label>
                <select class="input-type" 
                    #organizationType="ngModel"
                    name="orgnizationType"
                    [(ngModel)]="data[0].organizationType"
                    ngModel
                    required>
                    <option value="">
                        Select Organization
                    </option>
                    <option value="type-1">
                        Type-1
                    </option>
                    <option value="type-2">
                        Type-2
                    </option>
                    <option value="type-3">
                        Type-3
                    </option>
                </select>
                
                <span class="error-msg" *ngIf="organizationType.invalid && organizationType.touched">Organization type is required</span>
            </div>
            
            <div class="input-box">
                <label>Company Email</label>
                <input type="email" 
                    #email="ngModel"
                    placeholder="Enter Company Email" 
                    name="companyEmail"
                    class="input-type" 
                    email
                    [(ngModel)]="data[0].companyEmail"
                    ngModel    
                    required/>
                <span class="error-msg" *ngIf="email.invalid && email.touched">Invalid Email</span>
            </div>    
        </div>
        
        <div style="display: flex;">
            <div class="input-box">
                <label>Company Phone Number</label>
                <input type="tel" 
                    #telephone="ngModel"
                    placeholder="Enter Company Phone Number" 
                    class="input-type"
                    name="companyPhone"
                    pattern="[0-9]{10}"
                    [(ngModel)]="data[0].companyPhone"
                    ngModel
                    required/>
                <span class="error-msg" *ngIf="telephone.invalid && telephone.touched">Invalid Phone Number</span>
            </div>
        
            <div class="input-box">
                <label>Number Of Employees</label>
                <input type="number" 
                    #NumberOfEmployee="ngModel"
                    placeholder="Enter Number Of Employee" 
                    class="input-type"
                    name="noOfEmployees"
                    [(ngModel)]="data[0].noOfEmployee"
                    minlength="2"
                    ngModel
                    required/>
                <span class="error-msg" *ngIf="NumberOfEmployee.invalid && NumberOfEmployee.touched">Number of Employee must be 2 or more</span>
            </div>
        </div>

        <div style="display: flex;">
            <div class="input-box">
                <label>Start Year</label>
                <input type="month" 
                    #startYear="ngModel"
                    placeholder="Enter Start year" 
                    class="input-type"
                    name="startYear"
                    [(ngModel)]="data[0].startYear"
                    ngModel
                    required/>
                <span class="error-msg" *ngIf="startYear.invalid && startYear.touched">Start year is required</span>
            </div>

            <div class="input-box">
                <label>Founded By</label>
                <input type="text" 
                    #createdBy="ngModel"
                    placeholder="Enter Founders name" 
                    class="input-type"
                    name="createdBy"
                    pattern="[A-Za-z ]{3,30}"
                    [(ngModel)]="data[0].createdBy"
                    ngModel
                    required/>
                <span class="error-msg" *ngIf="createdBy.invalid && createdBy.touched">Invalid Name</span>
            </div>
        </div>
        

        <div class="input-text-area">
            <label>About</label>
            <textarea cols="50" rows="5" 
                #about="ngModel"
                placeholder="Enter Some Description about your company..."
                class="input-text-type"
                name="about"
                [(ngModel)]="data[0].about"
                minlength="10"
                maxlength="500"
                ngModel
                required
            ></textarea>
            <span class="error-msg" *ngIf="about.invalid && about.touched">Must contain more than 10 and less than 500 characters</span>
        </div>

        <div class="employee-btn">
            <button [disabled]="EmployeeForm.invalid" class="btn btn-primary mr-3" >
                Update
            </button>
        </div>
    </form>
</div>