<div class="login-div">
    <form #ChangePasswordForm="ngForm" (ngSubmit)="changePassword(ChangePasswordForm.value)" class="login-form-div">
        <div class="login-text">
            Change Password
        </div>

        <div class="input-div">
            <input #name="ngModel" 
                type='text' 
                placeholder="Enter Email" 
                name="email"
                class="login-input" 
                ngModel 
                required/>
            
            <span *ngIf="name.invalid && name.touched" class="error-message">Name is Required</span>
        </div>
        
        <div class="input-div">
            <input #cpassword="ngModel" 
                type="password" 
                placeholder="Enter Current Password" 
                name="current_password" 
                class="login-input"
                ngModel 
                required/>
            
            <span *ngIf="cpassword.invalid && cpassword.touched" class="error-message">Current Password is Required</span>
        </div>

        <div class="input-div">
            <input #npassword="ngModel" 
                type="password" 
                placeholder="Enter New Password" 
                name="password" 
                class="login-input"
                ngModel 
                required/>
            
            <span *ngIf="npassword.invalid && npassword.touched" class="error-message">New Password is Required</span>
        </div>

        <div class="login-form-btn">
            <button [disabled]="ChangePasswordForm.invalid" class="btn btn-primary">Reset</button>
        </div>
    </form>
</div>